<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATRIX</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <h1>Welcome to my chat Web interface</h1>
    <div class="container">
        <a href="login"><button>Login</button></a> <br><br>
        <a href="signup"><button>Signup</button></a><br><br>
        <a href="/"><button>Home</button></a> <br><br>
        <a href="about"><button id="btn">About</button></a><br>
    </div>
    <script src="/JS/script.js"></script>
</body>

</html>