<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATRIX</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to CHATRIX</h1>
        <nav class="nav-links">
            <a href="login"><button type="button">Login</button></a>
            <a href="signup"><button type="button">Signup</button></a>
            <a href="/"><button type="button">Home</button></a>
            <a href="about"><button type="button" id="btn">About</button></a>
        </nav>
    </div>
    <script src="/JS/script.js"></script>
</body>

</html>