<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <% if (username) { %>
            <p id="welcomeMessage">Welcome <%= username %></p>
        <% } %>
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="Enter mail">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter Password">
            <label><input id="showpassword" type="checkbox"> Show password</label>
            <button id="loginBtn" type="submit">Login</button>
        </form>
        <p id="message"></p>
        <nav class="nav-links">
            <a href="signup"><button type="button">Signup</button></a>
            <a href="/"><button type="button">Home</button></a>
            <a href="about"><button type="button">About</button></a>
        </nav>

    </div>
    <script src="/JS/script.js"></script>
</body>


</html>