<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   <div>
        <h1>Login</h1>
        <form action="login">
            <lable>Email:</lable>
            <input type="text" placeholder="Enter mail"><br><br>
            <label>Password:</label>
            <input type="text" placeholder="Enter Password"><br><br>
            <button>login</button>
        </form><br><br>
        <button><a href="signup">Signup</a></button><br><br>
        <button><a href="/">Home</a>  </button><br><br>
        <button><a href="about">About</a></button>

    </div>
    
</body>
</html>